{% extends 'coapp/base.html' %}

{% block content %}
<h2>Dostępność biurek i cennik</h2>
<button onclick="window.location.reload();">Odśwież listę biurek</button>
{% for desk in desks %}
    <div>
        <h2>Biurko nr {{ desk.name }}</h2>
        <p>Ilość stanowisk/biurko: {{ desk.size }}</p>
        <p>Ilość monitorów/stanowisko: {{ desk.monitor_number }}</p>
        <p>Ilość gniazdek/biurko: {{ desk.power_socket_count }}</p>
        <p>Cena: {{ desk.price }} zł</p>
        <p>Status: {{ desk.status }}</p>
         <a href="{% url 'reserve_desk' desk.id %}">Rezerwuj</a>
    </div>
{% endfor %}
{% endblock %}
