<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoWork Connect</title>
</head>
<body>
{% extends 'coapp/base.html' %}

{% block content %}
{% for main in mainpages %}
  <div>
  <center><h1>{{ main.title }}</h1></center>
  <br/>
  <h4>{{ main.description_1_subtitle }}</h4>
    <p align="justify">{{ main.description_1 }}</p>
  <br/>
  <h4>{{ main.description_2_subtitle }}</h4>
    <p align="justify">{{ main.description_2 }}</p>
  <br/>
  <h4>{{ main.description_3_subtitle }}</h4>
    <p align="justify">{{ main.description_3 }}</p>
  <br/>
  <h4>{{ main.description_4_subtitle }}</h4>
    <p align="justify">{{ main.description_4 }}</p>
  <br/>
  <h4>{{ main.description_5_subtitle }}</h4>
    <p align="justify">{{ main.description_5 }}</p>
  <br/>
  <h4>{{ main.description_6_subtitle }}</h4>
    <p align="justify">{{ main.description_6 }}</p>
  </div>
{% endfor %}  {# Upewnij się, że ten tag jest na miejscu #}
{% endblock %}
</body>
</html>