<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oferta biura</title>
</head>
<body>
{% extends 'coapp/base.html' %}

{% block content %}
    <center>
        <h3><b>OFERTA NASZEGO BIURA</b></h3>
    </center>
    <br>Zapraszamy do naszej komfortowej przestrzeni coworkingowej o powierzchni 200 m2, które są do Twojej dyspozycji od poniedziałku do piątku w godzinach 8-20.<br/>
    <br>Dysponujemy komfortowymi stanowiskami pracy zlokalizowanymi przy jedno lub kilkuosobowych biurkach zaopatrzonych w odpowiednią ilość gniazdek i optymalne oświetlenie.<br/>
    <br>Oferujemy dostęp do WI-FI z szybkim łączem internetowym (1000 Mpbs) oraz komfortowe zaplecze kuchenne-sanitarne.<br/>
    <br>W zależności od wybranej opcji udostępniamy dodatkowy monitor (szczegółowe informacje znajdują się w zakładce <a href="/pricelist">CENNIK USŁUG</a>.<br/>
    <br>Za dodatkową opłatą możesz skorzystać z drukarki oraz ksero.<br/>
    <br>Opcja rezerwacji gwarantuje, że Twoje biurko będzie na Ciebie czekać do momentu, w którym pojawisz się w biurze.<br/>
    <br>Tobie zostawiamy decyzję, kiedy i jak długo chcesz korzystać z przestrzeni coworkingowej. Płacisz tylko za wykupiony czas.<br/>
    <br>W ten sposób możesz kontrolować swoje wydatki i lepiej zaplanować swoją pracę.<br/>
    <br><br/>

    <h3><b>Dodaj biurko do oferty</b></h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Dodaj biurko</button>
    </form>
{% endblock %}
</body>
</html>
