{% extends 'coapp/base.html' %}

{% block head %}
{{ block.super }}
<!-- Dołączanie stylów jQuery UI -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Dołączanie skryptów jQuery i jQuery UI -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
$(document).ready(function() {
    // Inicjalizacja Datepicker dla pól formularza
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd', // Format daty
        changeMonth: true, // Możliwość zmiany miesiąca
        changeYear: true, // Możliwość zmiany roku
    });

    // Funkcja do obliczania i aktualizacji całkowitego kosztu rezerwacji
    function updateTotalCost() {
        var deskPrice = parseFloat($('#id_desk option:selected').data('price'));
        var startDate = $('#id_start_date').datepicker('getDate');
        var endDate = $('#id_end_date').datepicker('getDate');
        if (startDate && endDate && !isNaN(deskPrice)) {
            var totalDays = (endDate - startDate) / (1000 * 60 * 60 * 24) + 1;
            var totalCost = totalDays * deskPrice;
            $('#total-cost-display').text(totalCost.toFixed(2) + ' zł');
        }
    }

    // Nasłuchiwanie zmian w polach formularza
    $('#id_desk, #id_start_date, #id_end_date').change(updateTotalCost);

    // Wywołanie funkcji updateTotalCost przy inicjalizacji strony
    updateTotalCost();
});
</script>
{% endblock %}

{% block content %}
<h2>Rezerwacja biurka</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>Całkowity koszt: <span id="total-cost-display">0 zł</span></div>
    <button type="submit">Zarezerwuj</button>
</form>
{% endblock %}

